body {
    font-family: 'Press Start 2P', cursive; /* change the font */
    background-color: #000000; /* change background color to black */
    color: #FFFFFF; /* change text color to white */
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #111111; /* change header color */
    border-bottom: 3px solid #444444; /* add a border to the header */
    color: white;
}

.main {
    flex: 3;
}

.article {
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.article-title {
    font-size: 22px;
    color: #343a40;
    margin-bottom: 10px;
}

.article-description {
    color: #495057;
    font-size: 16px;
    line-height: 1.6;
}

.article-link {
    display: inline-block;
    margin-top: 15px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

.article-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.main {
    flex: 3;
}

.about-section {
    flex: 1;
    background-color: #f8f9fa;
    padding: 20px;
    margin-left: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 20px;
    color: #343a40;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 14px;
    color: #495057;
    line-height: 1.6;
}

.about-section img {
    width: 100%; /* This will make the image take up the full width of the about-section */
    height: auto; /* This will maintain the image's aspect ratio */
    margin-top: 20px;
}