body {
    font-family: 'Press Start 2P', cursive;
    background-image: url('Rose-Waves_7200x3600.png');
    background-repeat: no-repeat; /* This prevents the image from repeating */
    background-size: cover; /* This makes the image cover the entire body */
    color: #FFFFFF;
}

.header {
    text-align: center;
    padding: 20px;
    background-color: #8000ff; /* Bright Violet */
    border-bottom: 3px solid #bf00ff; /* Electric Purple */
}
.main {
    flex: 3;
}

.article {
    background-color: #8000ff; /* Bright Violet */
    border: 2px solid #bf00ff; /* Electric Purple */
}

.article-title {
    font-size: 22px;
    color: #e5e5e5; /* Light Gray for contrast */
    margin-bottom: 10px;
}

.article-description {
    color: #495057;
    font-size: 16px;
    line-height: 1.6;
}

.article-link {
    display: inline-block;
    margin-top: 15px;
    color: #1affa3; /* Neon Mint Green */
    text-decoration: none;
    font-weight: bold;
}

.article-link:hover {
    color: #0056b3;
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

.main {
    flex: 3;
}

.about-section {
    flex: 1;
    background-color: #8000ff; /* Bright Violet */
    border: 2px solid #bf00ff; /* Electric Purple */
    padding: 20px;
    margin-left: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-section h2 {
    font-size: 20px;
    color: #343a40;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 14px;
    color: #495057;
    line-height: 1.6;
}

.about-section img {
    width: 100%; /* This will make the image take up the full width of the about-section */
    height: auto; /* This will maintain the image's aspect ratio */
    margin-top: 20px;
}